<style>
    .row div {
        margin-top: 16px;
    }
</style>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-6 col-md-5 col-lg-4">
            <div class="card" class="w-100">
                <img class="card-img-top" src="https://www.w3schools.com/bootstrap4/img_avatar1.png" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title text-primary">{{data.name}}</h4>
                    <p class="card-text">Giới tính: <strong>{{data.gender}}</strong></p>
                    <p class="card-text">Email: <strong>{{data.email}}</strong></p>
                    <p class="card-text">Trạng thái: <strong>{{data.status}}</strong></p>
                    <a href="#" class="btn btn-primary">Liên hệ</a>
                </div>
            </div>
            <p class="mt-3"><a href="/">Quay lại</a></p>
        </div>
    </div>
</div>